/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Finger Paint Font */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}


section {
    overflow-x: hidden;
}

/* adding the about */
.about {
    background-size: cover;
    padding: 10px;
    margin: auto;
    background-color: #202020;
}

.about .container {
    border-left: 5px solid whitesmoke;
    border-width: 10px;
    border-color: #fff;
    padding: 0%;
    width: 70%;
}

.about .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 18px;
    transition: transform .2s;
    width: 5%;

}

.about .container img:hover {
    transform: scale(1.2);
}

.about h1 {
    text-align: left;
    margin-top: .40cm;
    margin-left: .40cm;
    font-size: 35px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;
}

.about p {
    font-size: 15px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: left;
    margin-top: .40cm;
    margin-left: .40cm;
}