/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Finger Paint Font */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

section {
    overflow-x: hidden;
}

/*adding the FAQ*/
.faq {
    background-size: cover;
    background-color: #202020;
    color: #fdfeff;
    padding-top: 2%;

}

.faq .container {
    padding: 0%;
    width: 70%;
}

#faq h1 {
    font-size: 35px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;
}

.faq .panel-full .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}

.faq .panel-full .panel-title a {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.faq .panel-full .panel-title a:after {
    font-style: normal;
    font-size: 3rem;
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}

.faq .panel-full .panel-body {
    color: white;
    font-size: 1.2rem;
}