<html>

<head>
  <title>DemonHacks Website</title>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!------------Banner section------------>
  <section class="banner">
    <div class="container">
      <img src="img/icondh.png">
      <h1>DemonHacks</h1>
      <p>DePaul University</p>
      <p>Chicago, Illinois</p>
      <p>Oct. 24th-25th</p>
    </div>
  </section>

  <!------------About section------------>

  <section class="about">
    <div class="bio">
      <h1>About</h1>
      <p>BLAH BLAH WE ARE THE BEST HACKATHON</p>
    </div>
  </section>

  <!------------FAQ section------------>

  <section class="faq clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
      <h2>FAQ</h2>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-full">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                Are applications open?
              </a>
            </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-5 mb-4">
              <p>Applications are now closed for 2019. Check back again next year!</p>
            </div>
          </div>
        </div>

        <div class="panel panel-full">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                I'm a beginner; am I welcome?
              </a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body px-5 mb-4">
              <p>Of course! Hackathons are a great place to learn new technologies, meet new people, network with
                sponsors, add something to your resume, and eat some free food ;)</p>
            </div>
          </div>
        </div>

        <div class="panel panel-full">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                What is a hackathon?
              </a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body px-5 mb-4">
              <p>A hackathon is an invention marathon. Students come together to build cool software & hardware hacks
                over 24-48 hours. It’s very beginner friendly.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-full">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                How much does it cost?
              </a>
            </h3>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body px-5 mb-4">
              <p>Nothing, attending a hackathon is free!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!------------Schedule section------------>

  <section id="schedule">
  </section>

  <!------------Sponsors section------------>

  <section id="sponsors">
  </section>

  <!------------Footer section------------>

  <section id="footer">
  </section>

</body>

</html>